.section {
  @apply 
    shadow
    border border-t-4 border-gray-200 border-solid
    bg-gray-200
    mt-10
    p-4
  ;


  .section {
    @apply
      my-6
      bg-white
    ;

  }


  &.isCollapsed {
    section-footer,
    section-body {
      @apply hidden;
    }
  }

  section-body {
  }
  section-footer {

    @apply 
      block
      hidden;
    ;

    button {
      @apply 
        bg-blue-400
        text-white
        px-3 py-1
        rounded
        hover:bg-blue-600
      ;
    }
  }

  h1 {
    @apply
      text-xl font-bold mb-1
      bg-gray-200
    ;
  }

  h2 {
    @apply 
      text-lg font-bold p-2 text-gray-500
    ;
  }

  section-body {
  }

  ul {
    li {
      @apply
        ml-10
        list-disc
      ;
    }
  }

  p {
    @apply
      mx-2 my-4
    ;

    code {
      @apply
        inline-block
        py-1 px-2 
        text-xs
        bg-gray-100
        text-gray-600
      ;
    }
  }

  a {
    color: steelblue;
    &:hover {
      text-decoration: underline;
    }
  }

  em {
    @apply px-1 text-purple-500;
  }

}
