#_page__quickstart {
  display : block;
  width   : 920px;
  margin  : auto;
  margin-bottom: 30rem;

  ui-info.warning {
    @apply block my-2 text-red-600 bg-red-100 shadow;

    div {
      @apply inline-block py-2 px-4;
    }

    &::before {
      content: "Careful!";
      @apply text-xs bg-red-600 text-white py-3 px-4;
    }
  }


  dots-menu {
    @apply inline-block bg-gray-300 px-2 rounded font-bold tracking-widest text-sm;
    &::before {
      content: "..."
    }
  }

  ol {
    @apply ml-6;

    li {
      @apply list-decimal;
    }
  }
}
