#_page__framework {

  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply font-bold;
  }

  ul {
    @apply list-disc;

    /* Use a different style for sub-lists. */
    ul {
      list-style-type: circle;
    }

    li {
      margin-top: 0.35em;
      margin-left: 2em;

      p {
        @apply text-gray-400 text-xs;
        font-style : italic;

        &:hover {
          @apply text-black;
        }

        a {
          padding-right : 0.25em;
          font-weight   : bold;
          font-style    : normal;
          color         : black;
          @apply text-base;

          &::after { content: " " }

          &:hover {
            @apply text-blue-500;
          }
        }
      }
    }

  }

  display : block;
  width   : 920px;
  margin  : auto;
  margin-bottom: 30rem;

  ui-info.warning {
    @apply block my-2 text-red-600 bg-red-100 shadow;

    div {
      @apply inline-block py-2 px-4;
    }

    &::before {
      content: "Careful!";
      @apply text-xs bg-red-600 text-white py-3 px-4;
    }
  }

  dots-menu {
    @apply inline-block bg-gray-300 px-2 rounded font-bold tracking-widest text-sm;
    &::before {
      content: "..."
    }
  }

  ol {
    @apply ml-6;

    li {
      @apply list-decimal;
    }
  }
}
