command-block.commandBlock {
  @apply block mt-2;

  code {
    @apply bg-gray-100 text-gray-700 whitespace-pre block py-2 px-3 text-xs;

    &.isCopied {
      @apply text-red-400;
    }
  }
  
  command-title {
    @apply text-xs text-gray-400 ml-1 italic;
  }

  code-controls {
    @apply
      float-right text-xs
      cursor-pointer 
      pr-2 capitalize italic text-right
      text-gray-300
    ;

    margin-top : 0.25rem;

    code-copier,
    code-explanation {
      @apply hover:underline;
      color      : steelblue;
    }

    control-separator {
      @apply px-1;
    }

  }

  .explanation {
    @apply text-xs italic text-gray-500;

    p {
      @apply my-0 py-0;
    }
  }
}
